main {
  display: flex;
  flex-direction: column;
  gap: var(--2xl);
  margin-bottom: var(--2xl);
}

.main-header {
  display: flex;
  flex-direction: column;
  gap: var(--md);
  margin-bottom: 330px;
}

.main-header p {
  max-width: 238px;
}

section {
  display: flex;
  flex-direction: column;
  gap: var(--lg);
}

.agenda-header {
  display: flex;
  flex-direction: row;
  gap: var(--md);
  align-items: center;

  justify-content: space-between;
}

.agenda-header div {
  display: flex;
  flex-direction: row;
  gap: var(--md);
}

.agenda-header svg {
  stroke-width: 1.5px;
}
