@import url("./global.css");

.grid-preview-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5000;
    pointer-events: none;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding-inline: 16px;
    gap: 8px;
}

.grid-preview-item {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.1);
    border-left: 1px solid rgba(0, 0, 255, 0.3);
    border-right: 1px solid rgba(0, 0, 255, 0.3);
}
