@import url("../../global.css");

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin-top: 78px;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: auto;
  gap: var(--md);
  margin-inline: var(--md);
}
