.exposition-card {
  width: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: var(--xs);
  font-family: "Switzer", sans-serif;
}

.exposition-card img {
  object-fit: cover;
}

.exposition-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.exposition-title svg {
  width: 24px;
  height: 24px;
  stroke-width: 1.2px;
}

.typo-exposition-title {
  width: 100%;
  font-family: "Switzer", sans-serif;
  font-weight: var(--font-medium);
  text-transform: uppercase;
}
