.exposition-card {
    width: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 16px;
  }
  
  .exposition-card img {
    object-fit: cover;
  }
  
  .exposition-card .typo-exposition-title {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    font-weight: var(--font-medium);
  }

  .exposition-card .icon
  {display: flex;
    width: 100%;
    justify-content: flex-end;

  }
