<div class="news-showcase">
    <img src="https://cdn.sanity.io/images/w0wy8f3r/production/ad90c708f1689a8918523714d47e3c735f14b74f-3228x2282.jpg" alt="Week-ends en famille - Saison 25">
    <p class="typo-showcase-title">WEEK-ENDS EN FAMILLE - SAISON 25</p>
    <div class="icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-down-right-icon lucide-arrow-down-right"><path d="m7 7 10 10"/><path d="M17 7v10H7"/></svg>
    </div>
  </div>