<div class="exposition-card">
    <img src="https://cdn.sanity.io/images/w0wy8f3r/production/ad90c708f1689a8918523714d47e3c735f14b74f-3228x2282.jpg" alt="exposition image">
    <div class="text-zone">
      <p class="typo-exposition-title">EXPOSITION 1</p>
      <p class="typo-p">Cats are known for their quirky behaviors and playful antics. They can go from lounging in a sunbeam to pouncing on a toy in an instant.</p>
      <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m7 7 10 10"/><path d="M17 7v10H7"/></svg>
      </div>