<div class="image-card">
    <img src="https://cdn.sanity.io/images/w0wy8f3r/production/ad90c708f1689a8918523714d47e3c735f14b74f-3228x2282.jpg" alt="description of image-card">
    <p class="typo-card-title">Accroche 2</p>
    <p class="typo-p">Their purring is often a sign of contentment, but it can also indicate stress or discomfort. Understanding these subtle cues can help in building a stronger bond with them. Each cat has its own personality, making them unique companions.
    </p>
  </div>